.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.heading {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.searchInputWrapper {
    position: relative;
}

.searchInput {
    width: 500px;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 2rem;
    border: 1px solid #a1a1a1;
    transition: transform 0.1s ease-in-out;
}

::placeholder {
    color: #a1a1a1;
}

:focus::placeholder {
    text-indent: -999px
}

.searchInput:focus {
    outline: none;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}

.searchInputIcon {
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    font-size: 20px;
    color: #a1a1a1;
    transition: all 0.1s ease-in-out;
}

.container:focus-within>.searchInputWrapper>.searchInputIcon {
    right: 0.2rem;
}

@media (max-width:600px) {
    .searchInput {
        width: 20rem;
        height: 2rem;
        padding: 0 1rem;
        border-radius: 2rem;
        border: 1px solid #a1a1a1;
        transition: transform 0.1s ease-in-out;
    }

    .searchInputIcon {
        position: absolute;
        right: 0.8rem;
        top: 0.5rem;
        font-size: 16px;
        color: #a1a1a1;
        transition: all 0.1s ease-in-out;
    }
}